[submodule "infrastructure"]
	path = infrastructure
	url = git@gitlab.com:prasetiyohadi/infrastructure.git
	branch = devel
[submodule "code"]
	path = code
	url = git@github.com:prasetiyohadi/code.git
	branch = devel
