[submodule "infrastructure"]
	path = infrastructure
	url = https://gitlab.com/prasetiyohadi/infrastructure.git
	branch = devel
[submodule "code"]
	path = code
	url = https://github.com/prasetiyohadi/code.git
	branch = devel
